.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  justify-content: space-evenly;
}



.titulo{
  display: block;
  width: 100%;
  background-color: blue;
  text-align: center;
  padding: 10px;
}


.tarjeta{
  background-color: black;
  width: 100%;
  border-radius: 10px;
}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px;
}

p,
h3 {
  color: aliceblue;
}
.grid-container .tarjeta {
display: block;
justify-content: space-evenly;
align-items: stretch;
margin-top: 15px;
}
.grid-container .tarjeta button{
  width: 40%;
  background-color: chartreuse;
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid chartreuse;
  font-weight: bolder;
  margin-left:auto ;
  margin-right: 0px;
}