*{
     margin: 0;
    padding: 0;
    border-collapse: collapse;
}

div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 900px;
    background-color: rgb(21, 255, 0);
    text-align: center;
    padding: 300px;
}